@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h3">See the <a href="https://www.hosting.work/aspnet-core-xunit-unit-testing/" target="_blank">xUnit Tutorial here</a>.</p>
    <div class="bg-warning">
        <p>Check the Blow Links:</p>
        <p><a asp-controller="Party" asp-action="Entry">Party Entry</a></p>
    </div>
    <p class="h3">See the <a href="https://www.hosting.work/aspnet-core-moq-xunit-unit-testing/" target="_blank">Moq and xUnit for Unit Testing Controllers</a>.</p>
    <div class="bg-warning">
        <p>Check the Blow Links:</p>
        <p><a asp-controller="Register" asp-action="Read">CRUD</a></p>
    </div>
</div>
