@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Check Link</h1>
    <p class="display-4">1. <a target="_blank" href="/Party/Entry">Add Entry to Party</a>.</p>
    <p class="display-4">2. <a target="_blank" href="/Register/Read">Register</a>.</p>
</div>
