@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Check Link</h1>
    <p class="display-4">1. <a target="_blank" href="/Party/Entry">Add Entry to Party (xUnit)</a>.</p>
    <p class="display-4">2. <a target="_blank" href="/Register/Read">Register (xUnit + Moq)</a>.</p>
    <p class="display-4">3. <a target="_blank" href="/Registration/Read">Registration (xUnit + EF Core)</a>.</p>
    <p class="display-4">4. <a target="_blank" href="/api/Reservation">Reservation API</a>.</p>
</div>
